*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#page1{
    height: 90%;
    width: 100%;
    background-color: #000;
    position: relative;
}
#head{
    height: 10%;
    width: 60%;
    /*background-color: red;*/
    position: absolute;
    display: flex;
    margin-top: 7%;
    margin-left: 5%;
}
#head h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 255%;
    font-weight: 500;
    background: -webkit-linear-gradient(white, rgba(36, 131, 54, 0.422));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about{
    height: 28%;
    width: 45%;
    /*background-color: red;*/
    position: absolute;
    margin-top: 14%;
    margin-left: 5%;
}
#p1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 140%;
    font-weight: 600;
    color: rgb(232, 239, 229);
    /* background: -webkit-linear-gradient(rgb(114, 186, 195),rgb(132, 63, 123));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
#p2{
    font-style: italic;
    font-size: 110%;
    font-weight: 550;
    margin-top: 12%;
    background: -webkit-linear-gradient(rgb(101, 232, 99),rgb(34, 90, 62));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#box{
    height: 50%;
    width: 20%;
    background-color: #61c75a;
    position: absolute;
    margin-left: 68%;
    margin-top: 10%;
    padding: 5px;
    overflow: hidden;
}
#in{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: relative;
    z-index: 99;
}
#in img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#box::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    height: 160%;
    width: 25%;
    background-color: #fff;
    animation: move 1.3s infinite;
}
@keyframes move{
    100%{
        transform: translate(-50%,-50%) rotate(225deg);
    }
}
#page2{
    height: 80%;
    width: 100%;
    background-color: #000;
    position: relative;
}
#skill{
    height: 29%;
    width: 35%;
    /* background-color: red;*/ 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    margin-left: 33%;
    gap: 3%;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    font-weight: 700;
    color: #fff;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    font-weight: 700;
    color: #fff;
}
#line{
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    margin-top: 10%;
}
#container{
    /* background-color: red;  */
    height: 40%;
    width: 100%;
    position: absolute;
    margin-top: 15%;
    display: flex;
    align-items: center;
    gap: 170px;
}
.card{
    height: 25%;
    width: 4%;
     /* background-color: blue; */ 
    margin-left: 5%;
    margin-bottom: 5%;
}
#card1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#card3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#html{
    height: 16%;
    width: 10%;
    /* background-color: red; */
    position: absolute;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
#html h1{
    font-size: 110%;
    margin-right: 25%;
    color: #fff;
}
#css{
    height: 16%;
    width: 10%;
    /* background-color: red; */
    position: absolute;
    margin-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
#css h2{
    font-size: 110%;
    margin-right: 130%;
    color: #fff;
}
#js{
    height: 16%;
    width: 10%;
    /* background-color: red; */
    position: absolute;
    margin-left: 69%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
#js h3{
    font-size: 110%;
    margin-right: 130%;
    color: #fff;
}
#page3{
    height: 80%;
    width: 100%;
    background-color: #000;
    position: relative;
    display: flex;
}
#name1{
    /* background-color: red; */
    height: 20%;
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#name1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: 600;
    color: #f7f2f2;
}
#project-container{
    /* background-color: red; */
    height: 64%;
    width: 100%;
    position: absolute;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project{
     height: 80%;
     width: 40%;
     background-color: rgb(195, 246, 120);
     margin-left: 15px;
     margin-right: 15px;
     border-radius: 10px;
     box-shadow: 0px 10px 60px  #2e502c;
     display: grid;
     background-size: cover;
     background-position: center;
     overflow: hidden;
     transition: all ease 0.5s;
}
#pj1{
    background-image: url(assets/Bin2Dec.png);
}
#pj2{
    background-image: url(assets/Calculator.png);
}
#pj3{
    background-image: url(assets/Golf\ .png);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(90, 244, 90);
    padding-top: 20px;
    padding: 10px;
    opacity: 0;
    transition: all ease 0.5s;
}
.overlay h1{
    color: #030101;
    font-size: 30px;
    font-weight: 600;
    white-space: nowrap;
    margin-bottom: 10px;
}
#overlay p{
    color: #000;
    font-size: 15px;
}
.project:hover .overlay{
    opacity: 1;
}
.project:hover{
    transform: rotate3d(1,-1,0, 10deg);
}
#page4{
    background-color: #000;
    height: 80%;
    width: 100%;
    position: relative;
}
#nav{
    /* background-color: red; */
    height: 45%;
    width: 47%;
    position: absolute;
    margin-top: 8%;
    margin-left: 5%;
    display: grid;
}
#nav h1{
    font-size: 400%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 540;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    background: -webkit-linear-gradient(rgb(14, 52, 5), rgba(51, 223, 82, 0.964));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nav h2{
    font-size: 400%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 540;
    margin-left: 40%;
    background: -webkit-linear-gradient(rgb(14, 52, 5), rgba(51, 223, 82, 0.964));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#eye{
    /* background-color: blue;  */
    width: 20%;
    height: 33%;
    position: absolute;
    margin-top: 23%;
    margin-left: 16%;
    object-fit: cover;
}
#eye img{
    height: 100%;
    width: 100%;
}
#contact{
    /* background-color: red; */
    height: 78%;
    width: 40%;
    position: absolute;
    margin-left: 50%;
    margin-top: 5%;
    text-align: center;

}
input{
    width: 200px;
    padding: 9px;
    border: 3px solid #309529;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 15px;
}
button{
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    height: 19%;
    cursor: pointer;
}
button:hover{
    background-color: rgb(83, 220, 70);
}
